---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>
  <body class="portfolio-body">
    {% include browser-upgrade.html %}
    {% include portfolio/header.html %}

    <main class="portfolio-root">
      {{ content }}
    </main>

    {% include portfolio/footer.html %}
    <script src="{{ base_path }}/assets/js/portfolio.js" defer></script>
    {% include analytics.html %}
  </body>
</html>
